*.iml
.gradle
/local.properties

# Idea non-crucial project fileS
*.idea
*.iws
*.iml
.idea
.idea/*.*
.idea/*.xml
/.idea
/.idea/workspace.xml
/.idea/libraries

.DS_Store
/build
/captures
.externalNativeBuild
